.search{
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__radiobutton-section{
        padding-top: 1rem;
    }
    
    &__input{
        padding-top: 0.5rem;
    }

    &__button{
        margin-top: 0.75rem;
    }
    &__radiobutton{
        margin-left:0.75rem;
    }
}
  
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }