@import '../shared/variables';


.html {
    font-size: 62.5%;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background: -webkit-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%);
    height: 100vh;
    width: 100vh;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid rgba(1, 0, 0, .1);
    border-radius: 25px;
    font-family: $font;
    background: rgba(153, 157, 158, 0.05);
}

.header {
    font-weight: bold;
    font-size: 2rem;
}

.sub-header {
    font-size: 1.5rem;
    padding: 1rem;
}

table.fixed {
    table-layout:fixed; 
    width:70vh;
    padding-top:1rem;
    padding-bottom: 1rem;
}
table.fixed td {
    overflow:hidden;
    padding: 12px 15px;

}
